@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@600;700;900&display=swap");

body {
  background: #eecedf;
}

.container {
  display: inline-flex;
  justify-content: center;
  width: 96%;
  height: 100%;
  font-family: "Archivo", sans-serif;
  margin: 2%;
}

.texture-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  width: 8%;
  position: relative;
}

.texture-top-container {
  width: 100%;
  height: 50%;
}

.texture-bottom-container {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.texture-bottom-container .texture-ball {
  margin: 0;
}

.texture-ball {
  aspect-ratio: 1/1;
  width: 60%;
  border: 3px solid #000000;
  box-shadow: 0.3vw 0.3vw;
  border-radius: 100%;
  margin-bottom: 20%;
}

.canvas-container {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2%;
}

.canvas {
  width: 100%;
  aspect-ratio: 516/744;
  background: #ffffff;
  border: 3px solid #000000;
  box-shadow: 0.3vw 0.3vw;
}

.settings-container {
  align-items: center;
  justify-content: center;
  width: 48%;
  text-align: center;
}

.settings-container h4 {
  margin: 0;
  font-weight: 900;
  font-size: 1.56vw;
}
.settings-container h6 {
  margin: 0;
  font-weight: 700;
  font-size: 1.045vw;
}

.settings-container h2 {
  margin-top: 0;
  font-weight: 900;
  font-size: 2.34vw;
}

.settings-grid-container {
  width: 96%;
  height: 30%;
  text-align: start;
  background: #f9efdc;
  border: 3px solid #000000;
  box-shadow: 0.3vw 0.3vw;
  margin-bottom: 3%;
  padding: 2%;
}

.settings-grid-container p {
  font-size: 1vw;
  margin-top: 0;
  margin-bottom: 0;
}

.settings-grid-slider-container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  height: 30%;
  width: 100%;
  margin-top: 4%;
}

.settings-grid-slider-area-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  width: 100%;
  margin-bottom: 1%;
}

.settings-grid-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 90%;
  box-sizing: border-box;
  background: #ffffff;
  border: 3px solid #000000;
  border-radius: 8.5px;
  -webkit-transition: 0.3s;
  transition: opacity 0.3s;
}

.settings-grid-slider::-webkit-slider-thumb {
  box-sizing: border-box;
  -webkit-appearance: none;
  appearance: none;
  width: 1.8vw;
  height: 2.4vw;
  cursor: pointer;
  background-image: url("../assets/range.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2vw 2.4vw;
  border: 3px solid #000000;
  border-radius: 9px;
}

.settings-grid-slider::-moz-range-thumb {
  box-sizing: border-box;
  width: 1.8vw;
  height: 2.4vw;
  cursor: pointer;
  background-image: url("../assets/range.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2vw 2.4vw;
  border: 3px solid #000000;
  border-radius: 9px;
}

.settings-grid-slider-caption-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50%;
}

.left {
  margin-right: auto;
}

.right {
  margin-left: auto;
}

.settings-grid-bottom-container {
  display: inline-flex;
  width: 100%;
}

.settings-grid-view-container {
  padding-right: 10%;
  width: 30%;
}

.settings-grid-toggle-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.settings-grid-toggle-container p {
  margin-right: 5%;
}

.settings-grid-toggle {
  box-sizing: border-box;
  border: 3px solid #000000;
  background: #ffffff;
  border-radius: 34px;
  position: relative;
  display: inline-block;
  aspect-ratio: 3/1;
  width: 35%;
  height: 1.9vw;
  margin-right: 5%;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #a0a0a0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  aspect-ratio: 1/1;
  width: 1.2vw;
  right: 0.2vw;
  bottom: 0.14vw;
  background-color: black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

.settings-grid-toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.settings-grid-toggle input:checked + .slider {
  background-color: white;
}

.settings-grid-toggle input:focus + .slider {
  box-shadow: 0 0 1px white;
}

.settings-grid-toggle input:checked + .slider:before {
  -webkit-transform: translateX(-2.15vw);
  -ms-transform: translateX(-2.15vw);
  transform: translateX(-2.15vw);
}

.settings-grid-selection-container {
  width: 70%;
}

.settings-grid-selection-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  margin-top: 2%;
}

.small-color-palett {
  aspect-ratio: 1/1;
  width: 45%;
  border: 3px solid #000000;
  background: #ffffff;
}

.settings-colors-container {
  width: 96%;
  height: 30%;
  text-align: start;
  background: #f9efdc;
  border: 3px solid #000000;
  box-shadow: 0.3vw 0.3vw;
  padding: 2%;
}

.settings-colors-selection-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto;
  margin-top: 2%;
}

.big-color-palett {
  aspect-ratio: 1/1;
  width: 60%;
  border: 3px solid #000000;
  border-radius: 100%;
  background: #ffffff;
  margin-top: 20%;
}

.settings-buttons-container {
  position: relative;
  display: flex;
  width: 101%;
  height: 15%;
}

.settings-button {
  position: absolute;
  box-sizing: border-box;
  border: 3px solid #000000;
  box-shadow: 0.3vw 0.3vw;
  border-radius: 27px;
  font-size: 1.35vw;
  font-weight: 700;
  width: 15vw;
  height: 3.1vw;
  bottom: 0;
}

.settings-button-export {
  background: #ee5d2b;
  right: 0;
}

.settings-button-export:hover {
  background: #c44c23;
}

.settings-button-save {
  background: #a8b9f5;
}

.settings-button-save:hover {
  background: #8c9bcf;
}
