@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@600&display=swap");

body {
  margin: 0;
}

.navigation {
  display: flex;
  width: 100%;
  height: 4vw;
  background: #a8b9f5;
  border-width: 3px 0px;
  border-style: solid;
  border-color: #000000;
  align-items: center;
  font-family: "Archivo", sans-serif;
  font-size: 1.3vw;
}

.nav-element {
  text-decoration: none;
  margin-right: 5%;
  font-weight: 600;
  color: black;
}

.nav-element:visited {
  color: black;
}
.nav-element:focus {
  color: black;
}

.nav-element:active {
  color: black;
}

.home-element {
  margin-left: 5%;
  margin-right: 8%;
}

.current-element {
  color: white;
}
.current-element:visited {
  color: white;
}
.current-element:focus {
  color: white;
}
.current-element:active {
  color: white;
}

#lang-element {
  margin-left: auto;
}

.sticky {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
}

.fake-nav {
  width: 100%;
  height: 4vw;
}
